{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Budget: Edit{% endblock %}

{% block page_content %}
<div class="page-header">
    <p>Let's try a budget page!</p>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.lineitem) }}
        {{ render_field(form.amount) }}
        {{ render_field(form.flexible) }}
        {{ render_field(form.notes) }}
    </dl>
    <p><input type=submit value=Submit></p>
</form>


</div>

{% endblock %}